network:
  version: 2
  ethernets:
    eth0:
      routes:
        - to: 10.{{lab_pod}}.1.0/24
          via: 10.{{lab_pod}}.2.254
          on-link: true
        - to: 10.{{lab_pod}}.201.0/24
          via: 10.{{lab_pod}}.2.254
          on-link: true
        - to: 10.{{lab_pod}}.202.0/24
          via: 10.{{lab_pod}}.2.254
          on-link: true
        - to: 10.{{lab_pod}}.254.0/24
          via: 10.{{lab_pod}}.2.254
          on-link: true
